.contador {
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.contador > div {
    color: white;
    font-size: 2rem;
    border: 2px solid rgb(20, 20, 20);
    padding: 0.7rem;
    background-color: rgb(2, 2, 2);
    border-radius: 7px;
}
